@import "../../../../../../variables";

::ng-deep app-sidebar .key-value-list {
    .bullet {
        display: none;
    }
    .key {
        padding-left: 0 !important;
    }
}

.footer {
    position: relative;
}
