@import "../../../../../../variables";

::ng-deep app-sidebar .key-value-list {
    .bullet {
        display: none;
    }
    .key {
        padding-left: 0 !important;
    }
}

.footer {
    position: relative;
}

.refereesUpon {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 1.5rem;
    text-align: center;
    color: $app-background-color;
    font-weight: bold;
}
