:host {
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 100;
}

.intro-label {
    position: absolute;
    font-weight: bold;
    font-size: 20px;
}

app-cv-viewer {
    width: fit-content;
}

::ng-deep .set-theme app-x-theme:not(:first-child) {
    margin-top: 30px !important;
}
