<ul *ngFor="let item of list">
    <li [hidden]="false" class="list-item d-flex align-items-start">
        <app-x-paragraph class="mb-3 d-inline-block pe-2" [(paragraph)]="item.title" (paragraphChange)="onChange()"
                         minHeight="38px"></app-x-paragraph>
        <div class="controls main-controls mb-3 d-inline-flex align-items-center gap-2 mt-1">
            <button class="btn btn-sm btn-success" (click)="addItem(item.id)">
                <i class="bi bi-plus"></i>
            </button>
            <div class="btn-group">
                <button
                    #dropdown
                    [disabled]="item.list?.length"
                    class="btn btn-sm btn-primary dropdown-toggle"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                    (click)="toggleMenu(dropdown)"
                >
                    <i class="bi bi-list-ul"></i>
                </button>
                <ul class="dropdown-menu">
                    <li (click)="addSubList(item.id, SubListType.LIST); closeMenu(dropdown)"><span
                        class="dropdown-item">{{SubListType.LIST}}</span></li>
                    <li (click)="addSubList(item.id, SubListType.NAME_VALUE_LIST); closeMenu(dropdown)"><span
                        class="dropdown-item">{{SubListType.NAME_VALUE_LIST}}</span></li>
                </ul>
            </div>
            <button [disabled]="(list?.length ?? 0) < 2" class="btn btn-sm btn-danger" (click)="removeItem(item.id)">
                <i class="bi bi-x"></i>
            </button>
        </div>
    </li>
    <ng-container *ngIf="item.type === SubListType.LIST">
        <ul *ngFor="let subItem of item?.list">
            <li class="list-sub-item">
                <div class="d-flex align-items-center">
                    <app-x-paragraph class="mb-3 col" [(paragraph)]="subItem.title" (paragraphChange)="onChange()"
                                     minHeight="38px"></app-x-paragraph>
                    <div class="controls sub-controls mb-3 d-flex align-items-center gap-2 px-2">
                        <button class="btn btn-sm btn-success" (click)="addSubItem(item.id, subItem.id)">
                            <i class="bi bi-plus"></i>
                        </button>
                        <button class="btn btn-sm btn-danger" (click)="removeSubItem(subItem.id)">
                            <i class="bi bi-x"></i>
                        </button>
                    </div>
                </div>
            </li>
        </ul>
    </ng-container>
    <ng-container *ngIf="item.type === SubListType.NAME_VALUE_LIST">
        <div  *ngFor="let subItem of item?.list" class="list-sub-item name-value-list d-flex align-items-start">
            <div class="disc">
                <i class="bi bi-circle-fill"></i>
            </div>
            <app-x-paragraph class="mb-3 col" [(paragraph)]="subItem.title" (paragraphChange)="onChange()" minHeight="38px"></app-x-paragraph>
            <app-x-paragraph class="mb-3 col" [(paragraph)]="subItem.value!" (paragraphChange)="onChange()" minHeight="38px"></app-x-paragraph>
            <div class="controls mb-3 d-flex align-items-center gap-2 mt-1">
                <button class="btn btn-sm btn-success" (click)="addSubItem(item.id, subItem.id)">
                    <i class="bi bi-plus"></i>
                </button>
                <button class="btn btn-sm btn-danger" (click)="removeSubItem(subItem.id)">
                    <i class="bi bi-x"></i>
                </button>
            </div>
        </div>
    </ng-container>
</ul>
