:host {
    display: none;
    position: absolute;
    background-color: white;
    inset: auto 21px 45px auto;
    margin: 0;
    transform: translate3d(2.4px, -40px, 0px);
    border: 1px solid rgba(0, 0, 0, 0.175);
    border-radius: 0.375rem;
    padding: 5px;
    box-shadow: 0 0 0.5cm rgb(0 0 0 / 20%);
    z-index: 110;
    height: calc(100% - 88px);
}
