<div class="tip-title mb-2">Print</div>

<div class="tip">
    <div class="tip-body mb-3">
        <div class="mb-2">
            You can print your cv by clicking the print button on the bottom right corner of the page.
        </div>
    </div>
    <div class="tip-body mb-3">
        <div class="mb-3">
            You can print your CV by clicking this button on the bottom right corner of the editor.
        </div>
        <button class="btn btn-lg btn-warning btn-floating position-relative shadow-none"><i class="bi bi-printer-fill"></i></button>
    </div>
    <div class="tip-body mb-3">
        <div class="mb-3">
            Also you can export your CV content, theme and settings as a JSON file by clicking the export button on the bottom right corner of the page.
        </div>
        <button class="btn btn-lg btn-secondary btn-floating position-relative shadow-none"><i class="bi bi-box-arrow-up"></i></button>
    </div>
</div>
