<div class="tip-title mb-2">Print</div>

<div class="tip">
    <div class="tip-body mb-3">
        <div class="mb-3">
            You can print your CV as a PDF file by clicking this button on the bottom right corner of the editor.<br>
            <b>This is same as Downloading</b>
        </div>
        <button class="btn btn-lg btn-warning btn-floating position-relative shadow-none"><i class="bi bi-printer-fill"></i></button>
    </div>
    <div class="tip-body mb-3">
        <div class="mb-2">
            You can print your cv by clicking the print button on the bottom right corner of the page.<br>
            <b>This is for only for importing CV into this add again. Use Print button to get a PDF</b><br>
            This is useful when you need to change something in your CV later and the editor data has been lost.
        </div>
    </div>
    <div class="tip-body mb-3">
        <div class="mb-3">
            Also you can export your CV content, theme and settings as a JSON file by clicking the export button on the bottom right corner of the page.
        </div>
        <button class="btn btn-lg btn-secondary btn-floating position-relative shadow-none"><i class="bi bi-box-arrow-up"></i></button>
    </div>
</div>
