@import "../../../../../../variables";

:host {
    display: block;
}

tr:not(:first-child) td {
    padding-top: 10px;
}

td {
    vertical-align: middle;
    i {
        display: inline-block;
        padding: 6px;
        border-radius: 50%;
        color: white;
    }
}
a {
    text-decoration: none;
    color: inherit;
}
.email i {
    background-color: #ff8a00;
}
.phone {
    i {
        background: #00c600;
    }
    .number {
        margin-right: 5px;
    }
}
.address i {
    background: #DB0404;
}
.linked-in i {
    background: #0A66C2;
}
.git-hub i {
    background: #171515;
}
.facebook i {
    background: #0E8EF2;
}
.web-url i {
    background: #000000;
}
