@import "../../../../../../variables";

:host {
    display: block;
    &.no-image {
        margin-bottom: 35px;
    }
}

.title {
    position: relative;
    font-weight: bolder;
    text-align: center;
    z-index: 1;
    color: white;
    padding: 0 20px;
}
.image {
    position: relative;
    z-index: 1;
    width: 120px;
    height: 150px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 4px solid $app-accent-color;
    margin: 15px auto auto;
    &.editable {
        cursor: pointer;
    }
    i {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        font-size: 50px;
        color: white;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.2);
        &:hover {
            background-color: rgba(0, 0, 0, 0.4);
        }
    }
    .close {
        color: white;
        width: 24px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        position: absolute;
        top: -11px;
        right: -11px;
        cursor: pointer;
        i {
            border-radius: 50%;
            background-color: transparent;
            font-size: 25px !important;
        }
    }
}
app-top-shape {
    position: absolute;
    bottom: -40px;
}
.image + app-top-shape {
    bottom: 45px;
}
.cropper {
    position: fixed;
}
