<div class="name" style="{{'font-size: ' + nameFontSize + 'px; line-height: ' + nameLineHeight + 'px'}}">{{name | uppercase}}</div>
<div class="title" style="{{'font-size: ' + titleFontSize + 'px; line-height: ' + titleLineHeight + 'px'}}">{{title | uppercase}}</div>
<div *ngIf="includeImage && (image || editable)" class="image" [class.editable]="editable" (click)="editable ? file.click() : undefined"
     style="{{'background-image: url(' + (image || (editable ? 'assets/images/avatar.jpeg': '')) + '); width: ' + imageWidth + 'px; height: ' + imageHeight + 'px;'}}">
    <i *ngIf="editable && !image" class="bi bi-camera-fill"></i>
    <input #file type="file" class="d-none" accept="image/*" (change)="setImage($event)">
    <div *ngIf="image && editable" class="close btn btn-danger" (click)="removeImage($event)">
        <i class="bi bi-x"></i>
    </div>
</div>
<app-top-shape></app-top-shape>


<div class="modal fade" id="headingAlertModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Alert</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>{{alertMessage}}</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary px-4" data-bs-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
