<div class="d-flex h-100">
    <div class="column-1">
        <app-cv-heading
            [title]="header.title"
            [fontSize]="configs.headerFontSize"
            [includeImage]="header.includeImage"
            [image]="header.image"
            [imageWidth]="configs.imageWidth"
            [imageHeight]="configs.imageHeight"
        ></app-cv-heading>
        <app-cv-contacts
            style="{{
                        'padding-top: ' + configs.contactsListSpace + 'px;' +
                        'padding-inline: ' + configs.sidebarPadding + 'px'
                    }}"
            [contacts]="contacts"
            [fontSize]="configs.contactsFontSize"
            [iconSize]="configs.contactsIconSize"
            [editable]="true"
            [space]="configs.contactsSpace"
        ></app-cv-contacts>
    </div>
    <div class="column-2 p-3 controls form-control p-3">
        <div class="editor">
            <label class="form-label">Email</label>
            <input type="text" class="form-control form-control-sm mb-3" placeholder="Enter your name..."
                   [(ngModel)]="contacts.email" (ngModelChange)="setEmail()">

            <label class="form-label">Phone</label>
            <ng-tag-input class="mb-3" [(ngModel)]="contacts.phoneNumbers"
                          (ngModelChange)="setPhoneNumbers()"></ng-tag-input>

            <label class="form-label">Address</label>
            <textarea rows="3" class="form-control form-control-sm mb-3" placeholder="Enter your name..."
                      [(ngModel)]="contacts.address" (ngModelChange)="setAddress()">
            </textarea>

            <label class="form-label">LinkedIn URL</label>
            <input type="text" class="form-control form-control-sm mb-3" placeholder="Enter your name..."
                   [(ngModel)]="contacts.linkedIn" (ngModelChange)="setLinkedIn()">

            <label class="form-label">GitHub URL</label>
            <input type="text" class="form-control form-control-sm mb-3" placeholder="Enter your name..."
                   [(ngModel)]="contacts.gitHub" (ngModelChange)="setGitHub()">

            <label class="form-label">Facebook URL</label>
            <input type="text" class="form-control form-control-sm mb-3" placeholder="Enter your name..."
                   [(ngModel)]="contacts.facebook" (ngModelChange)="setFacebook()">

            <label class="form-label">URL</label>
            <input type="text" class="form-control form-control-sm mb-3" placeholder="Enter your name..."
                   [(ngModel)]="contacts.url" (ngModelChange)="setUrl()">

            <div class="d-flex mb-3 gap-3">
                <div class="col-size-group">
                    <label class="form-label">Font size</label>
                    <div>
                        <div class="input-group input-group-sm">
                            <button class="btn btn-outline-secondary" type="button"
                                    (click)="click('contactsFontSize', true)"
                                    (mousedown)="mousedown('contactsFontSize', true)"
                                    (mouseup)="mouseUp()">
                                <i class="bi bi-dash"></i>
                            </button>
                            <input type="text" class="form-control" [(ngModel)]="configs.contactsFontSize"
                                   (ngModelChange)="setFontSize()" readonly>
                            <button class="btn btn-outline-secondary" type="button"
                                    (click)="click('contactsFontSize')"
                                    (mousedown)="mousedown('contactsFontSize')"
                                    (mouseup)="mouseUp()">
                                <i class="bi bi-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-size-group">
                    <label class="form-label">Icon size</label>
                    <div>
                        <div class="input-group input-group-sm">
                            <button class="btn btn-outline-secondary" type="button"
                                    (click)="click('contactsIconSize', true)"
                                    (mousedown)="mousedown('contactsIconSize', true)"
                                    (mouseup)="mouseUp()">
                                <i class="bi bi-dash"></i>
                            </button>
                            <input type="text" class="form-control" [(ngModel)]="configs.contactsIconSize"
                                   (ngModelChange)="setIconSize()" readonly>
                            <button class="btn btn-outline-secondary" type="button"
                                    (click)="click('contactsIconSize')"
                                    (mousedown)="mousedown('contactsIconSize')"
                                    (mouseup)="mouseUp()">
                                <i class="bi bi-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
