@import "src/variables";

.name, .date {
    font-size: 14px;
    min-height: 38px;
    line-height: 36px;
    padding: 0 12px;
    cursor: pointer;
    border: 1px dashed grey;
    border-radius: 0.375rem;
    word-break: break-all;
}
.name-input, .date-input {
    height: 38px;
    font-size: 14px;
}
.image {
    position: relative;
    z-index: 1;
    width: 150px;
    height: 100px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: 1px dashed grey;
    border-radius: 0.375rem;
    &.cover {
        background-size: cover;
    }
    .bi-camera-fill {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        font-size: 50px;
        color: transparent;
        height: 100%;
        width: 100%;
        //background-color: #d7d7d7;
        cursor: pointer;
        &:hover {
            background-color: rgba(0, 0, 0, 0.3);
            color: white;
        }
    }
    .close {
        color: white;
        width: 24px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        position: absolute;
        top: -7px;
        right: -7px;
        cursor: pointer;
    }
}
