<!--<label class="form-label" >Name</label>-->
<!--<app-x-paragraph class="mb-3" [(paragraph)]="name" [multiLine]="true" (paragraphChange)="onChange()" minHeight="38px"></app-x-paragraph>-->
<label class="form-label" >Name</label>
<div [hidden]="editName" class="name mb-3" (click)="showNameInput()">{{signature?.name}}</div>
<input #nameInput class="name-input form-control mb-3"
       [hidden]="!editName" [(ngModel)]="name"
       (blur)="editName = false" (ngModelChange)="onChange()">

<label class="form-label" >Date</label>
<div [hidden]="editDate" class="date mb-3" (click)="showDateInput()">{{date | date:'MM/dd/yyyy'}}</div>
<input #dateInput type="date" class="date-input form-control mb-3"
       [hidden]="!editDate" [(ngModel)]="date"
       (blur)="editDate = false" (ngModelChange)="onChange()">

<label class="form-label" >Digital Signature</label>
<div class="image" [class.cover]="!sign" (click)="file.click()"
     style="{{'background-image: url(' + (sign || 'assets/images/placeholder.png') + ');'}}">
    <i class="bi bi-camera-fill"></i>
    <div *ngIf="sign" class="close btn btn-danger" (click)="removeSign($event)">
        <i class="bi bi-x"></i>
    </div>
    <input #file type="file" class="d-none" accept="image/*" (change)="setSign($event)">
</div>


<div class="modal fade" id="signatureAlertModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Alert</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>{{alertMessage}}</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary px-4" data-bs-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
