@import "../../../../../variables";

:host {
    display: block;
}
.editor {
    width: 100%;
    height: 100%;
}
.scrollable-area {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding-bottom: 110px;
}
.btn-add {
    bottom: 110px;
    right: 45px;
}
