<div class="cv" *ngIf="cvData">
    <div #page class="page" size="A4">
        <div class="d-flex w-100 h-100">
            <div class="column-1">
                <app-cv-heading
                    [title]="cvData.header?.title ?? DEFAULTS.HEADER.TITLE"
                    [fontSize]="cvData.configs?.headerFontSize ?? DEFAULTS.CONFIGS.HEADER_FONT_SIZE"
                    [includeImage]="cvData.header?.includeImage ?? DEFAULTS.HEADER.INCLUDE_IMAGE"
                    [image]="cvData.header?.image ?? DEFAULTS.HEADER.IMAGE"
                    [imageWidth]="cvData.configs?.imageWidth ?? DEFAULTS.CONFIGS.IMAGE_WIDTH"
                    [imageHeight]="cvData.configs?.imageHeight ?? DEFAULTS.CONFIGS.IMAGE_HEIGHT"
                ></app-cv-heading>
                <app-cv-contacts
                    style="{{
                        'padding-top: ' + (cvData.configs?.contactsListSpace ?? DEFAULTS.CONFIGS.CONTACTS_LIST_SPACE) + 'px;' +
                        'padding-inline: ' + (cvData.configs?.sidebarPadding ?? DEFAULTS.CONFIGS.SIDEBAR_PADDING) + 'px'
                    }}"
                    [email]="cvData.contacts?.email ?? DEFAULTS.CONTACTS.EMAIL"
                    [phoneNumbers]="cvData.contacts?.phoneNumbers ?? DEFAULTS.CONTACTS.PHONE_NUMBERS"
                    [address]="cvData.contacts?.address ?? DEFAULTS.CONTACTS.ADDRESS"
                    [fontSize]="cvData.configs?.contactsFontSize ?? DEFAULTS.CONFIGS.CONTACTS_FONT_SIZE"
                    [iconSize]="cvData.configs?.contactsIconSize ?? DEFAULTS.CONFIGS.CONTACTS_ICON_SIZE"
                    [space]="cvData.configs?.contactsSpace ?? DEFAULTS.CONFIGS.CONTACTS_SPACE"
                ></app-cv-contacts>
                <app-sidebar
                    style="{{
                        'padding-top: ' + (cvData.configs?.sidebarSpace ?? DEFAULTS.CONFIGS.SIDEBAR_SPACE) + 'px'
                    }}"
                    [firstPage]="true"
                    [sidebar]="cvData.sidebar ?? DEFAULTS.SIDEBAR.SECTIONS"
                    [configs]="cvData.configs"
                    (forward)="onPage1SidebarForward($event)"
                ></app-sidebar>
            </div>
            <div
                class="column-2 flex-fill"
                style="{{'padding: ' + (cvData.configs?.mainContentPadding ?? DEFAULTS.CONFIGS.MAIN_CONTENT_PADDING) + 'px'}}"
            >
                <app-main-details
                    class="h-100"
                    [sections]="cvData.sections ?? DEFAULTS.SECTIONS.SECTIONS"
                    [configs]="cvData.configs"
                    (forward)="onPage1MainForward($event)"
                ></app-main-details>
            </div>
        </div>
    </div>

    <!--suppress JSUnusedGlobalSymbols -->
    <div #page *ngIf="page2" class="page" size="A4">
        <div class="d-flex w-100 h-100">
            <div class="column-1">
                <app-cv-heading></app-cv-heading>
                <app-sidebar
                    [sidebar]="page2.sidebar"
                    [configs]="cvData.configs"
                    (forward)="onPage2SidebarForward($event)"
                    [test]="true"
                ></app-sidebar>
            </div>
            <div
                class="column-2 flex-fill"
                style="{{'padding: ' + (cvData.configs?.mainContentPadding ?? DEFAULTS.CONFIGS.MAIN_CONTENT_PADDING) + 'px'}}"
            >
                <app-main-details
                    class="h-100"
                    *ngIf="page2.sections"
                    [sections]="page2.sections"
                    [configs]="cvData.configs"
                    (forward)="onPage2MainForward($event)"
                ></app-main-details>
            </div>
        </div>
    </div>

    <!--suppress JSUnusedGlobalSymbols -->
    <div #page *ngIf="page3" class="page" size="A4">
        <div class="d-flex w-100 h-100">
            <div class="column-1">
                <app-cv-heading></app-cv-heading>
                <app-sidebar
                    [sidebar]="page3.sidebar"
                    [configs]="cvData.configs"
                    (forward)="onPage3SidebarForward($event)"
                ></app-sidebar>
            </div>
            <div
                class="column-2 flex-fill"
                style="{{'padding: ' + (cvData.configs?.mainContentPadding ?? DEFAULTS.CONFIGS.MAIN_CONTENT_PADDING) + 'px'}}"
            >
                <app-main-details
                    class="h-100"
                    *ngIf="page3.sections"
                    [sections]="page3.sections"
                    [configs]="cvData.configs"
                    (forward)="onPage3MainForward($event)"
                ></app-main-details>
            </div>
        </div>
    </div>

    <!--suppress JSUnusedGlobalSymbols -->
    <div #page *ngIf="page4" class="page" size="A4">
        <div class="d-flex w-100 h-100">
            <div class="column-1">
                <app-cv-heading></app-cv-heading>
                <app-sidebar
                    [sidebar]="page4.sidebar"
                    [configs]="cvData.configs"
                    (forward)="onPage4SidebarForward($event)"
                ></app-sidebar>
            </div>
            <div
                class="column-2 flex-fill"
                style="{{'padding: ' + (cvData.configs?.mainContentPadding ?? DEFAULTS.CONFIGS.MAIN_CONTENT_PADDING) + 'px'}}"
            >
                <app-main-details
                    class="h-100"
                    *ngIf="page4.sections"
                    [sections]="page4.sections"
                    [configs]="cvData.configs"
                    (forward)="onPage4MainForward($event)"
                ></app-main-details>
            </div>
        </div>
    </div>

</div>
