@import "../../../../../variables";

:host {
    display: block;
    height: 100%;
}

.editor {
    gap: 20px;
    width: calc(100% - 20px);
}
.main {
    display: inline-block;
    min-width: calc(21cm - #{$sidebar-width});
    max-width: calc(21cm - #{$sidebar-width});
    height: 100%;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
    .sections {
        height: 100%;
        width: 100%;
        overflow-y: auto;
    }
}
.controls {
    display: block;
    min-width: calc(100% - (21cm - #{$sidebar-width}));
    max-width: calc(100% - (21cm - #{$sidebar-width}));
    height: 100%;
    position: relative;
    app-cv-section-list-editor {
        width: 100%;
        height: 100%;
    }

}
