<!--<div #confirmModal class="modal fade" id="confirmationModal" tabindex="-1" aria-hidden="true">-->
<!--    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">-->
<!--        <div class="modal-content">-->
<!--            <div class="modal-header">-->
<!--                <h1 class="modal-title fs-5">{{data?.title ?? 'Confirmation' | uppercase}}</h1>-->
<!--                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--            </div>-->
<!--            <div class="modal-body">{{data?.message}}</div>-->
<!--            <div class="modal-footer">-->
<!--                <button type="button" class="btn btn-primary px-4" data-bs-dismiss="modal">{{data?.noBtn ?? 'NO' | uppercase}}</button>-->
<!--                <button type="button" class="btn btn-primary px-4" data-bs-dismiss="modal">{{data?.yesBtn ?? 'YES' | uppercase}}</button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
