:host {

}
.image-cropper-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10000;
}
.image-cropper-container {
    width: 750px;
    height: 550px;
    background-color: var(--cropper-overlay-after-color);
    border-radius: 0.375rem;
    .cropper {
        width: 750px;
        height: 480px;
    }
    .cropper-controls {
        border-top: 1px solid grey;
    }
}
