<ng-container *ngIf="section">
    <div class="title"
         style="{{'font-size: ' + (configs?.sectionTitleFontSize ?? CONFIGS.sectionTitleFontSize) + 'px'}}">
        {{trimTitle(section.title) | uppercase}}
    </div>
    <div class="hr"
         style="{{'bottom: ' + (8 - (configs?.sectionSeparatorSpace ?? CONFIGS.sectionSeparatorSpace)) + 'px;'}}"></div>

    <div *ngIf="section.type === SectionType.PARAGRAPH" class="paragraph"
         style="{{
            'font-size: ' + (configs?.sectionTextFontSize ?? CONFIGS.sectionTextFontSize) + 'px; ' +
            'line-height: ' + (configs?.sectionTextLineHeight ?? CONFIGS.sectionTextLineHeight) + 'px;' +
            'padding-top: ' + (configs?.sectionItemSpace ?? CONFIGS.sectionItemSpace) + 'px;'
         }}"
         [innerHTML]="trim(section.paragraph, true)"></div>

    <div *ngIf="section.type === SectionType.LIST" class="list"
         style="{{
            'font-size: ' + (configs?.sectionTextFontSize ?? CONFIGS.sectionTextFontSize) + 'px; ' +
            'line-height: ' + (configs?.sectionTextLineHeight ?? CONFIGS.sectionTextLineHeight) + 'px;' +
            'padding-top: ' + (configs?.sectionItemSpace ?? CONFIGS.sectionItemSpace) + 'px;'
         }}">
        <ul>
            <ng-container *ngFor="let item of section.list">
                <li [innerHTML]="trim(item.title, true)"
                    style="{{'padding-top: ' + (configs?.sectionListItemSpace ?? CONFIGS.sectionListItemSpace) + 'px;'}}"></li>
                <ul *ngIf="item.type === SubListType.LIST && item.list" style="{{'padding-top: ' + (configs?.sectionListItemSpace ?? CONFIGS.sectionListItemSpace) + 'px;'}}">
                    <li *ngFor="let subItem of item.list" [innerHTML]="trim(subItem.title, true)"
                        style="{{'padding-top: ' + (configs?.sectionListItemSpace ?? CONFIGS.sectionListItemSpace) + 'px;'}}"></li>
                </ul>
                <div *ngIf="item.type === SubListType.NAME_VALUE_LIST && item.list" class="key-value-list"
                     style="{{
                               'font-size: ' + (configs?.sectionTextFontSize ?? CONFIGS.sectionTextFontSize) + 'px; ' +
                               'line-height: ' + (configs?.sectionTextLineHeight ?? CONFIGS.sectionTextLineHeight) + 'px;' +
                               'padding-top: ' + (configs?.sectionItemSpace ?? CONFIGS.sectionItemSpace) + 'px;'
                            }}">
                    <table class="w-100">
                        <tr *ngFor="let subItem of item.list">
                            <span class="d-none">{{item.id}}</span>
                            <td class="key"
                                style="{{
                                    'padding-top: ' + (configs?.sectionListItemSpace ?? CONFIGS.sectionListItemSpace) + 'px;' +
                                     'width: ' + (configs?.dynamics?.[item.id]?.width ? configs?.dynamics?.[item.id]?.width + '%' : 'auto')
                                }}">
                            <span
                                [innerHTML]="trim(subItem.title, true)"></span>
                            </td>
                            <td class="separator"
                                style="{{'padding-top: ' + (configs?.sectionListItemSpace ?? CONFIGS.sectionListItemSpace) + 'px;'}}">
                                :
                            </td>
                            <td class="value" [innerHTML]="trim(subItem.value, true)"
                                style="{{'padding-top: ' + (configs?.sectionListItemSpace ?? CONFIGS.sectionListItemSpace) + 'px;'}}"></td>
                        </tr>
                    </table>
                </div>
            </ng-container>
        </ul>
    </div>

    <div *ngIf="section.type === SectionType.LIST_WITH_PARAGRAPH" class="list-with-paragraph"
         style="{{
            'font-size: ' + (configs?.sectionTextFontSize ?? CONFIGS.sectionTextFontSize) + 'px; ' +
            'line-height: ' + (configs?.sectionTextLineHeight ?? CONFIGS.sectionTextLineHeight) + 'px;' +
            'padding-top: ' + (configs?.sectionItemSpace ?? CONFIGS.sectionItemSpace) + 'px;'
         }}">
        <div class="paragraph" [innerHTML]="trim(section.listWithParagraph?.title, true)"></div>
        <div class="list" *ngIf="section.listWithParagraph?.list">
            <ul style="{{'padding-top: ' + (configs?.sectionListItemSpace ?? CONFIGS.sectionListItemSpace) + 'px;'}}">
                <ng-container *ngFor="let item of section.listWithParagraph?.list">
                    <li [innerHTML]="trim(item.title, true)"
                        style="{{'padding-top: ' + (configs?.sectionListItemSpace ?? CONFIGS.sectionListItemSpace) + 'px;'}}"></li>
                    <ul *ngIf="item.list"
                        style="{{'padding-top: ' + (configs?.sectionListItemSpace ?? CONFIGS.sectionListItemSpace) + 'px;'}}">
                        <li *ngFor="let subItem of item.list" [innerHTML]="trim(subItem.title, true)"
                            style="{{'padding-top: ' + (configs?.sectionListItemSpace ?? CONFIGS.sectionListItemSpace) + 'px;'}}"></li>
                    </ul>
                </ng-container>
            </ul>
        </div>
    </div>

    <div *ngIf="section.type === SectionType.NAME_VALUE_LIST" class="key-value-list"
         style="{{
            'font-size: ' + (configs?.sectionTextFontSize ?? CONFIGS.sectionTextFontSize) + 'px;' +
            'line-height: ' + (configs?.sectionTextLineHeight ?? CONFIGS.sectionTextLineHeight) + 'px;' +
            'padding-top: ' + (configs?.sectionItemSpace ?? CONFIGS.sectionItemSpace) + 'px;'
         }}">
        <table class="w-100">
            <tr *ngFor="let item of section.keyValueList">
                <td class="key"
                    style="{{
                        'padding-top: ' + (configs?.sectionListItemSpace ?? CONFIGS.sectionListItemSpace) + 'px;' +
                        'width: ' + (configs?.dynamics?.[section.id]?.width ? configs?.dynamics?.[section.id]?.width +'%' : 'auto')
                    }}">
                    <span class="bullet"
                          style="{{
                          'font-size: ' + (configs?.sectionTextFontSize ?? CONFIGS.sectionTextFontSize) + 'px;' +
                          'line-height: ' + (configs?.sectionTextLineHeight ?? CONFIGS.sectionTextLineHeight) + 'px;'
                          }}">&bull;</span><span
                    [innerHTML]="trim(item.title, true)"></span>
                </td>
                <td class="separator"
                    style="{{'padding-top: ' + (configs?.sectionListItemSpace ?? CONFIGS.sectionListItemSpace) + 'px;'}}">
                    :
                </td>
                <td class="value" [innerHTML]="trim(item.value, true)"
                    style="{{'padding-top: ' + (configs?.sectionListItemSpace ?? CONFIGS.sectionListItemSpace) + 'px;'}}"></td>
            </tr>
        </table>
    </div>

    <div *ngIf="section.type === SectionType.COLUMNS" class="column"
         style="{{
            'font-size: ' + (configs?.sectionTextFontSize ?? CONFIGS.sectionTextFontSize) + 'px; ' +
            'line-height: ' + (configs?.sectionTextLineHeight ?? CONFIGS.sectionTextLineHeight) + 'px;' +
            'padding-top: ' + (configs?.sectionItemSpace ?? CONFIGS.sectionItemSpace) + 'px;'
         }}">
        <div class="d-flex"
             style="{{'padding-top: ' + (configs?.sectionListItemSpace ?? CONFIGS.sectionListItemSpace) + 'px;'}}">
            <div class="w-50">
                <div *ngFor="let line of section.columns?.[0]?.lines; let i = index" [innerHTML]="trim(line, !i)"></div>
            </div>
            <div class="w-50 divider">
                <div *ngFor="let line of section.columns?.[1]?.lines; let i = index" [innerHTML]="trim(line, !i)"></div>
            </div>
        </div>
    </div>

    <div *ngIf="section.type === SectionType.SIGNATURE" class="signature"
         style="{{
            'font-size: ' + (configs?.sectionTextFontSize ?? CONFIGS.sectionTextFontSize) + 'px; ' +
            'line-height: ' + (configs?.sectionTextLineHeight ?? CONFIGS.sectionTextLineHeight) + 'px;' +
            'padding-top: ' + (configs?.sectionItemSpace ?? CONFIGS.sectionItemSpace) + 'px;'
         }}">
        <div class="d-flex">
            <table class="w-100 text-center" [class.mt-4]="!section.signature?.sign">
                <tr class="values">
                    <td class="w-50 pb-2">
                        <img height="50" *ngIf="section.signature?.sign" [src]="section.signature?.sign"
                             alt="signature">
                        <span *ngIf="!section.signature?.sign" [innerHTML]="trim(section.signature?.name)"></span>
                    </td>
                    <td class="w-50 pb-2">{{section.signature?.date | date:'dd/MM/yyyy'}}</td>
                </tr>
                <tr class="dots">
                    <td class="w-50 pb-1 break-all">........................................................</td>
                    <td class="w-50 pb-1 break-all">........................................................</td>
                </tr>
                <tr class="keys">
                    <td class="w-50">Signature</td>
                    <td class="w-50">Date</td>
                </tr>
            </table>
        </div>
    </div>

</ng-container>
