@import "../../../../../../variables";

:host {
    display: block;
}

* {
    word-break: break-word;
}

::ng-deep app-section a {
    color: $main-link-color !important;
}

.title {
    font-weight: bolder;
    font-size: 20px;
    color: $app-text-color;
}

.hr {
    height: 2px;
    background-color: $app-separator-color;
    position: relative;
}

.paragraph {
    text-align: justify;
    color: $app-text-color;
}

.list {
    color: $app-text-color;

    li + ul {
        margin-bottom: 5px;
    }
}

.key-value-list {
    color: $app-text-color;

    .key {
        position: relative;
        padding-left: 32px;
        vertical-align: top;
        white-space: nowrap;

        .bullet {
            position: absolute;
            top: 6px;
            left: 15px;
        }
    }

    .separator {
        width: 5px;
        vertical-align: top;
        padding-left: 10px;
        padding-right: 5px;
    }

    .value {
        vertical-align: top;
    }
}

.column {
    padding-left: 16px;
    color: $app-text-color;

    .divider {
        border-left: 2px solid $app-secondary-color;
        padding-left: 16px;
    }
}

.signature {
    color: $app-text-color;

    .values {
        position: relative;
        top: 20px;

        td {
            vertical-align: bottom;
        }
    }

    .dots {
        position: relative;
        top: 5px;
    }

    table {
        table-layout: fixed;

        td {
            padding: 0 10px;
            overflow: hidden;
        }
    }

    .break-all {
        word-break: break-all;
    }
}
