// Variables

:root {
    --app-top-shape: 0px;
    --app-bottom-shape: 0px;

    --app-primary-color: #1F4E79;
    --app-secondary-color: #BDD7EE;
    --app-accent-color: #2E75B6;
    --app-text-color: #001E5B;
    --app-separator-color: #5999d4;
    --app-main-link-color: #0d6efd;
    --app-background-color: #ffffff;

    --sidebar-width: 310px;
}

$app-top-shape: var(--app-top-shape);
$app-bottom-shape: var(--app-bottom-shape);

$app-primary-color: var(--app-primary-color);
$app-secondary-color: var(--app-secondary-color);
$app-accent-color: var(--app-accent-color);
$app-text-color: var(--app-text-color);
$app-separator-color: var(--app-separator-color);
$main-link-color: var(--app-main-link-color);
$app-background-color: var(--app-background-color);

$sidebar-width: var(--sidebar-width);
