<div class="tip-title mb-2">Warning</div>

<div class="tip">
    <div class="tip-body mb-3">
        <div>
            <b>To get a PDF of your CV. Click the PRINT button on this dialog, Then select Save As PDF on next dialog and click Save.</b><br><br>
            * When printing the CV some old browsers may not support setting the page size from the application.
            In that case you have to set the page size as <b>A4</b> and turn on the background graphics in the print dialog.
            And also check if other setting are as below.
        </div>
        <div class="mt-3 fw-bold">Below is a example of the next dialog according to your browser, Make sure these settings are same on the next dialog.</div>
    </div>

    <div class="tip-body">
        <div class="fw-bold mt-5">If you are using a Chrome bowser, Change these setting on the next dialog.</div>
        <img class="w-100" src="assets/images/chrome-print-dialog.png" alt="print-dialog">

        <div class="fw-bold mt-5 mb-4">If you are using a Firefox browser, Change these setting on the next dialog.</div>
        <img class="d-block w-50 m-auto" src="assets/images/firefox-print-dialog.png" alt="print-dialog">
    </div>
</div>

