<div class="tip-title mb-2">Warning</div>

<div class="tip">
    <div class="tip-body mb-3">
        <div>
            When printing the CV some old browsers may not support setting the page size from the application.
            In that case you have to set the page size as <b>A4</b> and turn on the background graphics in the print dialog.
            And also check if other setting are as below.
        </div>
    </div>

    <div class="fw-bold mt-5">Chrome</div>
    <img class="w-100" src="assets/images/chrome-print-dialog.png" alt="print-dialog">

    <div class="fw-bold mt-5 mb-4">Firefox</div>
    <img class="d-block w-50 m-auto" src="assets/images/firefox-print-dialog.png" alt="print-dialog">
</div>

