:host {
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 100;
}

::ng-deep .tune-up .page {
    //margin: 0 !important;
}

.viewer {
    padding: 25px 0;
    height: 100%;
    width: 100%;
    overflow-y: auto;
}
app-cv-viewer {

}
.controls {
    position: relative;
}
.btn-tune-left {
    bottom: 110px;
    left: 45px;
}

.btn-tune-right {
    bottom: 110px;
    right: 45px;
}

app-cv-tune-up-popup {
    position: fixed;
    height: calc(100% - 248px);
}

app-cv-tune-up-popup.left {
    inset: auto auto 130px 45px
}

app-cv-tune-up-popup.right {
    inset: auto 45px 130px auto
}
