<div class="d-flex h-100 align-items-center justify-content-center flex-column">
    <h2 class="text-center p-5">
        We recommend using the latest version of Chrome or Firefox for the best experience.
        You may experience issues with older versions or other browsers.
    </h2>
    <button class="btn btn-lg btn-secondary btn-import-lg px-4 mb-4" (click)="input.click()">
        <i class="bi bi-box-arrow-in-down"></i> Import CV JSON
    </button>
    <button class="btn btn-lg btn-primary btn-import-lg px-4 mb-5" (click)="start()">
        <i class="bi bi-caret-right-fill"></i> Start
    </button>
</div>

<input #input type="file" accept="application/json" class="d-none" (change)="onFileSelected($event)">
<!--<button class="btn btn-lg btn-secondary btn-floating btn-import" (click)="input.click()"><i-->
<!--    class="bi bi-box-arrow-in-down"></i></button>-->
